@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .footer {
    text-align: center;
    background-color: #0087e0;
    /* width: 51vw; */
  }
  
  .blinking-text {
    animation: blink 2s infinite;
    color: rgb(255, 255, 255);
    font-size: 130%;
  }

  .container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 51.5vw;
    height: 3.5vh;
    
  }
  