@keyframes loopText {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
  }
  
  .footer2 {
    background-color: #fffb00;
    padding: 0px 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .looping-text {
    display: inline-block;
    animation: loopText 10s linear infinite;
    font-size:larger;
    color: black;
  }

  .container2 {
    position: fixed;
    left: 1%;
    bottom: 0;
    width: 50.89%;
    height: 4%;
    margin-left: -12px;
    
  }
  