@keyframes loopText {
    0% {
      transform: translateX(-118%);
    }
    100% {
      transform: translateX(118%);
    }
  }
  
  .looping-text {
    display: inline-block;
    animation: loopText 10s linear infinite;
    font-size: 130%;
    color: rgb(0, 0, 0);
  }
  
  .footer2 {
    text-align: center;
    background-color: #f2ff00;
    overflow: hidden;

  }

  .container2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 49vw;
    height: 3.5vh;
  }
    