
.container1{
    width: fit-content;
    left: 0%;
    margin-top: -300px;
    
}



.tab-view1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
  }
  
  .tabs1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 71px;
    
  }
  
  .tabs1 button {
    border: none;
    background: none;
    /* background-color:#0a0a0a; */
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .tabs1 button.active {
    /* background-color: #1b1b1b; */
    border-bottom: 1px solid #0087e0;
  }

  
  .tabs1 button:focus,
  .tabs1 button:active,
  .tabs1 button:hover {
    outline: none;
    background-color: transparent;
    
  }  


.tab-content1 {
    border: 1px solid #484848;
    /* border-bottom: 1px solid #484848; */
    /* border-left: 1px solid #484848; */
    /* border-right: 1px solid #484848; */
    /* border-top: 1px solid #484848; */
    padding: 50px;
    height: 240px;
    margin-left: 71px;
    margin-top: -9px;
}



div h6 {
    font-size: 25px;
    color: #ffffff8a;
}


